<a href="https://colab.research.google.com/github/turanmehdiyeva/Analysing-Income-Statement/blob/main/Financial_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
income_statement = pd.read_json('https://fmpcloud.io/api/v3/income-statement/AAPL?limit=120&apikey=39030b215f139a4d571edd7c30531eb8')

In [5]:
income_statement.head()

        date  ...                                          finalLink
0 2020-09-26  ...  https://www.sec.gov/Archives/edgar/data/320193...
1 2019-09-28  ...  https://www.sec.gov/Archives/edgar/data/320193...
2 2018-09-29  ...  https://www.sec.gov/Archives/edgar/data/320193...
3 2017-09-30  ...  https://www.sec.gov/Archives/edgar/data/320193...
4 2016-09-24  ...  https://www.sec.gov/Archives/edgar/data/320193...

[5 rows x 35 columns]

In [6]:
income_statement.set_index('date', inplace=True)
income_statement.head()

           symbol  ...                                          finalLink
date               ...
2020-09-26   AAPL  ...  https://www.sec.gov/Archives/edgar/data/320193...
2019-09-28   AAPL  ...  https://www.sec.gov/Archives/edgar/data/320193...
2018-09-29   AAPL  ...  https://www.sec.gov/Archives/edgar/data/320193...
2017-09-30   AAPL  ...  https://www.sec.gov/Archives/edgar/data/320193...
2016-09-24   AAPL  ...  https://www.sec.gov/Archives/edgar/data/320193...

[5 rows x 34 columns]

In [8]:
cash_flow = pd.read_json('https://fmpcloud.io/api/v3/cash-flow-statement/AAPL?limit=120&apikey=39030b215f139a4d571edd7c30531eb8')
cash_flow.set_index('date',inplace=True)
cash_flow.head()

           symbol  ...                                          finalLink
date               ...
2020-09-26   AAPL  ...  https://www.sec.gov/Archives/edgar/data/320193...
2019-09-28   AAPL  ...  https://www.sec.gov/Archives/edgar/data/320193...
2018-09-29   AAPL  ...  https://www.sec.gov/Archives/edgar/data/320193...
2017-09-30   AAPL  ...  https://www.sec.gov/Archives/edgar/data/320193...
2016-09-24   AAPL  ...  https://www.sec.gov/Archives/edgar/data/320193...

[5 rows x 37 columns]

In [9]:
data = income_statement[['revenue','eps']].copy()

In [10]:
data.head()

                 revenue     eps
date
2020-09-26  274515000000  3.3100
2019-09-28  260174000000  2.9925
2018-09-29  265595000000  3.0025
2017-09-30  229234000000  2.3175
2016-09-24  215639000000  2.0875

In [12]:
cash_flow.columns

Index(['symbol', 'reportedCurrency', 'fillingDate', 'acceptedDate', 'period',
       'netIncome', 'depreciationAndAmortization', 'deferredIncomeTax',
       'stockBasedCompensation', 'changeInWorkingCapital',
       'accountsReceivables', 'inventory', 'accountsPayables',
       'otherWorkingCapital', 'otherNonCashItems',
       'netCashProvidedByOperatingActivities',
       'investmentsInPropertyPlantAndEquipment', 'acquisitionsNet',
       'purchasesOfInvestments', 'salesMaturitiesOfInvestments',
       'otherInvestingActivites', 'netCashUsedForInvestingActivites',
       'debtRepayment', 'commonStockIssued', 'commonStockRepurchased',
       'dividendsPaid', 'otherFinancingActivites',
       'netCashUsedProvidedByFinancingActivities',
       'effectOfForexChangesOnCash', 'netChangeInCash', 'cashAtEndOfPeriod',
       'cashAtBeginningOfPeriod', 'operatingCashFlow', 'capitalExpenditure',
       'freeCashFlow', 'link', 'finalLink'],
      dtype='object')

In [14]:
data['fcf']=cash_flow['freeCashFlow']
data.head()

                 revenue     eps           fcf
date
2020-09-26  274515000000  3.3100  7.336500e+10
2019-09-28  260174000000  2.9925  5.889600e+10
2018-09-29  265595000000  3.0025  6.412100e+10
2017-09-30  229234000000  2.3175  5.080300e+10
2016-09-24  215639000000  2.0875  5.349700e+10

In [15]:
data = data.sort_index()
data.head()

               revenue       eps          fcf
date
1985-09-30  1918300000  0.004464          NaN
1986-09-30  1901900000  0.010714          NaN
1987-09-30  2661100000  0.014821          NaN
1988-09-30  4071400000  0.027500          NaN
1989-09-30  5284000000  0.031607  268300000.0

In [17]:
data['rec %-chg'] = data['revenue'].pct_change()
data.head()

               revenue       eps          fcf  rec %-chg
date
1985-09-30  1918300000  0.004464          NaN        NaN
1986-09-30  1901900000  0.010714          NaN  -0.008549
1987-09-30  2661100000  0.014821          NaN   0.399180
1988-09-30  4071400000  0.027500          NaN   0.529969
1989-09-30  5284000000  0.031607  268300000.0   0.297834

In [18]:
data.tail()

                 revenue     eps           fcf  rec %-chg
date
2016-09-24  215639000000  2.0875  5.349700e+10  -0.077342
2017-09-30  229234000000  2.3175  5.080300e+10   0.063045
2018-09-29  265595000000  3.0025  6.412100e+10   0.158620
2019-09-28  260174000000  2.9925  5.889600e+10  -0.020411
2020-09-26  274515000000  3.3100  7.336500e+10   0.055121

In [19]:
data['eps %-chg']=data['eps'].pct_change()
data['fcf %-chg']=data['fcf'].pct_change()
data.tail()

                 revenue     eps           fcf  rec %-chg  eps %-chg  fcf %-chg
date
2016-09-24  215639000000  2.0875  5.349700e+10  -0.077342  -0.100216  -0.233326
2017-09-30  229234000000  2.3175  5.080300e+10   0.063045   0.110180  -0.050358
2018-09-29  265595000000  3.0025  6.412100e+10   0.158620   0.295577   0.262150
2019-09-28  260174000000  2.9925  5.889600e+10  -0.020411  -0.003331  -0.081487
2020-09-26  274515000000  3.3100  7.336500e+10   0.055121   0.106099   0.245670

In [22]:
data_set = data.loc['2010-01-01':]
data_set.index = data_set.index.year

                 revenue       eps  ...  eps %-chg  fcf %-chg
date                                ...
2010-09-25   65225000000  0.550357  ...   1.411583   0.841493
2011-09-24  108249000000  1.001786  ...   0.820248   0.825725
2012-09-29  156508000000  1.594286  ...   0.591444   0.378262
2013-09-28  170910000000  1.429643  ...  -0.103271   0.075650
2014-09-27  182795000000  1.622500  ...   0.134899   0.119085

[5 rows x 6 columns]

In [41]:
data_set

                 revenue       eps  ...  eps %-chg  fcf %-chg
date                                ...
2010-09-25   65225000000  0.550357  ...   1.411583   0.841493
2011-09-24  108249000000  1.001786  ...   0.820248   0.825725
2012-09-29  156508000000  1.594286  ...   0.591444   0.378262
2013-09-28  170910000000  1.429643  ...  -0.103271   0.075650
2014-09-27  182795000000  1.622500  ...   0.134899   0.119085
2015-09-26  233715000000  2.320000  ...   0.429892   0.398357
2016-09-24  215639000000  2.087500  ...  -0.100216  -0.233326
2017-09-30  229234000000  2.317500  ...   0.110180  -0.050358
2018-09-29  265595000000  3.002500  ...   0.295577   0.262150
2019-09-28  260174000000  2.992500  ...  -0.003331  -0.081487
2020-09-26  274515000000  3.310000  ...   0.106099   0.245670

[11 rows x 6 columns]

In [25]:
rev = data_set[['revenue', 'rec %-chg']].copy()
rev

                 revenue  rec %-chg
date
2010-09-25   65225000000   0.785177
2011-09-24  108249000000   0.659624
2012-09-29  156508000000   0.445815
2013-09-28  170910000000   0.092021
2014-09-27  182795000000   0.069540
2015-09-26  233715000000   0.278563
2016-09-24  215639000000  -0.077342
2017-09-30  229234000000   0.063045
2018-09-29  265595000000   0.158620
2019-09-28  260174000000  -0.020411
2020-09-26  274515000000   0.055121

In [28]:
eps = data_set[['eps', 'eps %-chg']].copy()
fcf = data_set[['fcf', 'fcf %-chg']].copy()
print(eps)
print(fcf)

                 eps  eps %-chg
date
2010-09-25  0.550357   1.411583
2011-09-24  1.001786   0.820248
2012-09-29  1.594286   0.591444
2013-09-28  1.429643  -0.103271
2014-09-27  1.622500   0.134899
2015-09-26  2.320000   0.429892
2016-09-24  2.087500  -0.100216
2017-09-30  2.317500   0.110180
2018-09-29  3.002500   0.295577
2019-09-28  2.992500  -0.003331
2020-09-26  3.310000   0.106099
                     fcf  fcf %-chg
date
2010-09-25  1.647400e+10   0.841493
2011-09-24  3.007700e+10   0.825725
2012-09-29  4.145400e+10   0.378262
2013-09-28  4.459000e+10   0.075650
2014-09-27  4.990000e+10   0.119085
2015-09-26  6.977800e+10   0.398357
2016-09-24  5.349700e+10  -0.233326
2017-09-30  5.080300e+10  -0.050358
2018-09-29  6.412100e+10   0.262150
2019-09-28  5.889600e+10  -0.081487
2020-09-26  7.336500e+10   0.245670

In [52]:
def create_sheet(writer,df,sheet_name):
  df.to_excel(writer,sheet_name=sheet_name)
  worksheet = writer.sheets[sheet_name]

  chart = workbook.add_chart({'type':'line'})
  chart.add_series({
      'name': sheet_name,
      'categories':[sheet_name, 1,0,11,0],
      'values':[sheet_name,1,1,11,1]
  })
  column_chart = workbook.add_chart({'type':'column'})
  column_chart.add_series({
      'name': sheet_name,
      'categories':[sheet_name, 1,0,11,0],
      'values':[sheet_name,1,2,11,2],
      'y2_axis': True,
  })
  chart.combine(column_chart)
  chart.set_title({'name':sheet_name})
  chart.set_x_axis({'name':'Date'})
  chart.set_y_axis({'name': 'Value'})
  column_chart.set_y2_axis({'name':'%-chg'})
  worksheet.insert_chart('E1',chart)

In [53]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (1.4.4)

In [54]:
writer = pd.ExcelWriter("financialsa.xlsx", engine='xlsxwriter')
workbook = writer.book
create_sheet(writer,rev,'Revenue')
create_sheet(writer,eps,'EPS')
create_sheet(writer,fcf,'FCF')
workbook.close()